{% extends "operations_portal/base.html" %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'itp/itp.css' %}">{% endblock %}
{% block content %}
<nav class="subnav">
    <a href="{% url 'itp:dashboard' %}">Dashboard</a>
    {% if perms.itp.add_itpdocument %}<a href="{% url 'itp:upload_itp' %}">Upload ITP</a>{% endif %}
    {% if perms.itp.add_itpannexure %}<a href="{% url 'itp:upload_annexure' %}">Upload annexure</a>{% endif %}
    {% if perms.itp.add_itplineclausemapping %}<a href="{% url 'itp:generate_mapping' %}">Mapping</a>{% endif %}
    <a href="{% url 'itp:noi_list' %}">NOIs</a>
    {% if perms.itp.add_noticeofinspection %}<a href="{% url 'itp:create_noi' %}">Raise NOI</a>{% endif %}
    <a href="{% url 'itp:alerts' %}">Alerts</a>
</nav>
{% block itp_body %}{% endblock %}
{% endblock %}
